body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  margin: 0 1rem;
}

footer {
  margin: 0 1rem;
}

a {
  color: hsl(256, 100%, 45%);
  text-decoration: none;
}

.main-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.main-content {
  margin: 0 1rem;
}

.sidenav {
  margin: 0 1rem;
  border-right: 1px solid #ccc;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav ul > li {
  padding: 0.5rem 0;
}
